@media only screen and (max-width: 1085px) {
  .container {
    max-width: 1065px;
  }
  .grey,
  .title_adaptive {
    text-align: center;
  }
  .card__office {
    justify-content: space-around;
  }
  .company_info {
    text-align: right;
  }
  .company_case {
    justify-content: center;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 1000px;
  }
  .grey,
  .title_adaptive {
    text-align: center;
  }
  .card__office {
    justify-content: space-around;
  }
  .company_product-wrap {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .company_info {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }

  .clients-wrap {
    justify-content: space-around;
  }
  .footer_contact_form_wrap {
    text-align: -webkit-center;
    display: block;
  }
  .form__wrap {
    margin-top: 130px;
  }
  .header__contacts-text {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 820px) {
  .container {
    max-width: 800px;
  }
  .section {
    padding: 50px 0;
  }

  .header__inner-wrap {
    max-width: 25px;
  }

  .company_product-wrap {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .company_info {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }

  .header__contacts,
  .header__nav {
    display: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: var(--white-color);
    text-align: center;
    right: 0;
    left: 0;
    margin-top: 20px;
  }
  #checkbox_toggle:checked ~ .header__nav {
    display: block;
    max-height: max-content;
    transition: all 0.5s;
  }

  .burger {
    display: block;
    padding: 25px 0;
  }
  .header__nav-item {
    color: var(--black-color);
    display: block;
    padding: 15px 0;
    z-index: 4;
    transition: all 0.5s;
  }
  .header__nav-item:hover {
    background-color: var(--background-color);
  }

  #checkbox_toggle:checked ~ .burger .burger-line {
    background-color: transparent;
  }
  #checkbox_toggle:checked ~ .burger .burger-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  #checkbox_toggle:checked ~ .burger .burger-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

@media only screen and (max-width: 570px){
  .container {
    max-width: 540px;
  }
  .main {
    margin-top: 110px;
}
  .title{
    font-size: 35px;
  }
  .button{
    padding: 14px 30px;
    margin-top: 50px;
  }
  .info_nav-wrap{
    margin-top: 50px;
  }
  .card__office-item{
    max-width: 240px;
    min-height: 261px;
  }
  .card__office {
    margin-top: 50px;
  }
  .grey {
    margin-bottom: 15px;
  }
  .black {
    font-size: 35px;
  }
  .company_info-text {
    margin-top: 20px;
  }
  .company_case-item {
    max-width: 200px;
  }
  .company_case-item-title {
    font-size: 40px;
  }
  .company_case-item-text {
  margin: 10px 0 20px;
  }
  .clients-wrap {
    margin-top: 15px;
  }
  .clients-icon{
    max-width: 190px;
    max-height: 100px;
  }
  .comment_block_wrap{
    margin-top: 40px;
  }
  .comment_block {
    padding: 38px 21px 36px 32px;
  }
  .comment_block_person {
    margin-top: 30px;
  }
  .section_footer {
    padding: 60px 0 60px;
  }
  .text-footer {
    margin-top: 30px;
    margin-bottom: 41px;
  }
  .form__wrap {
    margin-top: 70px;
  }
  .form_inputs {
    display: inline-block;
  }
  .text-form_name{
    display: inherit;
  }
  .input_block:first-of-type {
    margin-right: 0px;
}
.conticul__license {
  display: block;
  margin: 35px 0 25px;
}
}

@media only screen and (max-width: 390px){
  .title {
    font-size: 25px;
  }
}
