@font-face {
  font-family: 'Merriweather';
  font-weight: 300;
  src: local('Merriweather-Light'), url(../fonts/Merriweather/Merriweather-Light.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 400;
  src: local('Merriweather-Regular'), url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 700;
  src: local('Merriweather-Bold'), url(../fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
  font-family: 'Merriweather';
  font-weight: 900;
  src: local('Merriweather-Black'), url(../fonts/Merriweather/Merriweather-Black.ttf);
}

@font-face {
  font-family: 'lato';
  font-weight: 100;
  src: local('Lato-Thin'), url(../fonts/Lato/Lato-Thin.ttf);
}

@font-face {
  font-family: 'lato';
  font-weight: 100;
  src: local('Lato-ThinItalic'), url(../fonts/Lato/Lato-ThinItalic.ttf);
}

@font-face {
  font-family: 'lato';
  font-weight: 300;
  src: local('Lato-Light'), url(../fonts/Lato/Lato-Light.ttf);
}

@font-face {
  font-family: 'lato';
  font-weight: 300;
  src: local('Lato-lightItalic'), url(../fonts/Lato/Lato-LightItalic.ttf);
}

@font-face {
  font-family: 'lato';
  font-weight: 400;
  src: local('lato-Regular'), url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: 'lato';
  font-weight: 700;
  src: local('Lato-Bold'), url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: 'lato';
  font-weight: 900;
  src: local('Lato-Black'), url(../fonts/Lato/Lato-Black.ttf);
}
